@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
  @apply bg-background text-foreground min-w-[250px] text-base;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "inter-normal";
  font-size: 14px;
  user-select: none;
  @apply transition-colors;
}

/* intall "inter" fonts */
@font-face {
  font-family: "inter-normal";
  src: url("./assets/fonts/inter/Inter-Regular.ttf");
}
@font-face {
  font-family: "inter-thin";
  src: url("./assets/fonts/inter/Inter-Thin.ttf");
}
@font-face {
  font-family: "inter-medium";
  src: url("./assets/fonts/inter/Inter-Medium.ttf");
}
@font-face {
  font-family: "inter-bold";
  src: url("./assets/fonts/inter/Inter-Bold.ttf");
}
@font-face {
  font-family: "inter-extra-bold";
  src: url("./assets/fonts/inter/Inter-ExtraBold.ttf");
}
