@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  @apply bg-background text-foreground leading-6 min-w-[250px];
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "new-atten-normal";
  font-size: 14px;
  user-select: none;
  @apply transition-colors;
}
